@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
.typewriter {
  font-size: 50px;
  font-family: "Quantico", sans-serif;
  letter-spacing: 4px;
  color: #F97F51;
}

.typewriter span {
  visibility: hidden;
}

.arrow-wrapper {
  width: 100%;
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-size: 40px;
  color: #F97F51;
}
.arrow-wrapper span {
  display: block;
}
.arrow-wrapper .arrow-top {
  line-height: 30px;
}
.arrow-wrapper .arrow-bottom {
  line-height: 30px;
}

.blink {
  animation-name: blink-animation;
  animation-duration: 1s;
  animation-timing-function: steps(5, start);
  animation-iteration-count: infinite;
}

@keyframes blink-animation {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@media (min-width: 992px) {
  .typewriter {
    font-size: 100px;
  }
  .arrow-wrapper {
    font-size: 80px;
  }
  .arrow-wrapper .arrow-top {
    line-height: 50px;
  }
  .arrow-wrapper .arrow-bottom {
    line-height: 50px;
  }
}
.technologies-section {
  color: #F97F51;
}
.technologies-section .box {
  transition: all 1s;
}
.technologies-section .box-1 {
  grid-column-start: 3;
  grid-row-start: 4;
}
.technologies-section .box-2 {
  grid-column-start: 8;
  grid-row-start: 6;
}
.technologies-section .box-3 {
  grid-column-start: 8;
  grid-row-start: 2;
}
.technologies-section .box-4 {
  grid-column-start: 6;
  grid-row-start: 5;
}
.technologies-section .box-5 {
  grid-column-start: 5;
  grid-row-start: 6;
}
.technologies-section .box-6 {
  grid-column-start: 2;
  grid-row-start: 7;
}
.technologies-section .box-7 {
  grid-column-start: 8;
  grid-row-start: 7;
}
.technologies-section .box-8 {
  grid-column-start: 3;
  grid-row-start: 1;
}
.technologies-section .box-9 {
  grid-column-start: 4;
  grid-row-start: 3;
}
.technologies-section .box-10 {
  grid-column-start: 10;
  grid-row-start: 1;
}
.technologies-section .box-11 {
  grid-column-start: 10;
  grid-row-start: 3;
}
.technologies-section .box-12 {
  grid-column-start: 9;
  grid-row-start: 4;
}
.technologies-section .box-13 {
  grid-column-start: 5;
  grid-row-start: 2;
}
.technologies-section .box-14 {
  grid-column-start: 2;
  grid-row-start: 2;
}
.technologies-section .box-15 {
  grid-column-start: 6;
  grid-row-start: 7;
}

.technologies-grid {
  display: grid;
  grid-template-columns: repeat(12, 8.3%);
  grid-template-rows: repeat(8, auto);
  grid-row-gap: 16px;
  grid-row-gap: 16px;
  overflow: hidden;
  font-family: "Quantico", sans-serif;
  font-size: 30px;
}

@media (min-width: 992px) {
  .technologies-grid {
    font-size: 50px;
  }
  .technologies-section .box-7 {
    grid-column-start: 10;
  }
  .technologies-section .box-9 {
    grid-column-start: 6;
  }
  .technologies-section .box-10 {
    grid-column-start: 11;
  }
}
.project-tile {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: auto;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
}
.project-tile iframe {
  background-color: #fefefe;
  width: 100%;
  height: 400px;
  border: 2px solid grey;
}
.project-tile img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.project-tile .project-title {
  color: #000;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

#projects-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.view-project {
  font-size: 1.3rem;
  border: 1px solid grey;
  border-radius: 50px;
  background-color: grey;
  color: #fefefe;
  padding: 7px 15px;
  margin-top: 15px;
}

.view-project:hover {
  background-color: rgb(56, 56, 56);
}

@media (min-width: 992px) {
  #projects-grid {
    margin-top: 30px;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40% 40%;
    grid-gap: 50px;
  }
  #projects-grid .project-tile {
    width: auto;
  }
}
footer {
  background-color: #000;
  padding: 10px 0;
  color: #fefefe;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

#contact-section {
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
}
#contact-section a {
  font-size: 1.1rem;
  color: #fefefe;
  text-align: center;
  text-decoration: none;
  transition: color 0.5s;
}
#contact-section a:hover {
  color: #F97F51;
}
#contact-section .heading {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: auto;
  padding: 10px 15px;
}

@media (min-width: 992px) {
  #contact-section {
    grid-template-columns: 20% 10% 10% 10% 50%;
  }
  #contact-section a {
    font-size: 1.3rem;
  }
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  transition: background-color 0.8s;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Quantico", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Quantico", sans-serif;
}

.section {
  height: 100vh;
  padding: 80px 30px 100px 30px;
}
.section#projects {
  height: auto;
}

.main {
  padding-bottom: 100px;
}

a {
  text-decoration: none;
}

#brand {
  width: 40%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
