@import url("https://fonts.googleapis.com/css2?family=Quantico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
.typewriter {
  font-size: 50px;
  font-family: "Quantico", sans-serif;
  letter-spacing: 4px;
  color: #3B3B98;
}

.typewriter span {
  visibility: hidden;
}

.arrow-wrapper {
  width: 100%;
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-size: 40px;
  color: rgba(130, 63, 157, 0.737254902);
}
.arrow-wrapper span {
  display: block;
}
.arrow-wrapper .arrow-top {
  line-height: 30px;
}
.arrow-wrapper .arrow-bottom {
  line-height: 30px;
}

.blink {
  animation-name: blink-animation;
  animation-duration: 1s;
  animation-timing-function: steps(5, start);
  animation-iteration-count: infinite;
}

.downwards-fade-in {
  animation-name: downwards-fade-in;
  animation-duration: 1.2s;
}

.upwards-fade-in {
  animation-name: upwards-fade-in;
  animation-duration: 1.2s;
}

.animation-hidden {
  opacity: 0;
}

@keyframes downwards-fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1 !important;
    transform: none;
  }
}
@keyframes upwards-fade-in {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1 !important;
    transform: none;
  }
}
@keyframes blink-animation {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@media (min-width: 992px) {
  .typewriter {
    font-size: 100px;
  }
  .arrow-wrapper {
    font-size: 80px;
  }
  .arrow-wrapper .arrow-top {
    line-height: 50px;
  }
  .arrow-wrapper .arrow-bottom {
    line-height: 50px;
  }
}
.technologies-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(12, 40px);
  grid-row-gap: 5px;
  grid-row-gap: 5px;
  overflow: hidden;
  font-family: "Quantico", sans-serif;
  font-size: 16px;
}

.technologies-section {
  color: #3B3B98;
}
.technologies-section .box {
  transition: all 1s;
  text-align: center;
}
.technologies-section .box-1 {
  grid-column-start: 2;
  grid-row-start: 5;
}
.technologies-section .box-2 {
  grid-column-start: 2;
  grid-row-start: 7;
}
.technologies-section .box-3 {
  grid-column-start: 1;
  grid-row-start: 2;
}
.technologies-section .box-4 {
  grid-column-start: 3;
  grid-row-start: 8;
}
.technologies-section .box-5 {
  grid-column-start: 1;
  grid-row-start: 11;
}
.technologies-section .box-6 {
  grid-column-start: 1;
  grid-row-start: 9;
}
.technologies-section .box-7 {
  grid-column-start: 1;
  grid-row-start: 8;
}
.technologies-section .box-8 {
  grid-column-start: 2;
  grid-row-start: 2;
}
.technologies-section .box-9 {
  grid-column-start: 3;
  grid-row-start: 3;
}
.technologies-section .box-10 {
  grid-column-start: 4;
  grid-row-start: 7;
}
.technologies-section .box-11 {
  grid-column-start: 4;
  grid-row-start: 5;
}
.technologies-section .box-12 {
  grid-column-start: 4;
  grid-row-start: 10;
}
.technologies-section .box-13 {
  grid-column-start: 4;
  grid-row-start: 2;
}
.technologies-section .box-14 {
  grid-column-start: 1;
  grid-row-start: 4;
}
.technologies-section .box-15 {
  grid-column-start: 2;
  grid-row-start: 10;
}
.technologies-section .box-16 {
  grid-column-start: 1;
  grid-row-start: 11;
}
.technologies-section .box-17 {
  grid-column-start: 3;
  grid-row-start: 11;
}

@media (min-width: 992px) {
  .technologies-grid {
    grid-template-columns: repeat(12, 8.3%);
    grid-template-rows: repeat(8, 80px);
    grid-row-gap: 16px;
    grid-row-gap: 16px;
    font-size: 50px;
  }
  .technologies-section .box-1 {
    grid-column-start: 3;
    grid-row-start: 4;
  }
  .technologies-section .box-2 {
    grid-column-start: 8;
    grid-row-start: 6;
  }
  .technologies-section .box-3 {
    grid-column-start: 8;
    grid-row-start: 2;
  }
  .technologies-section .box-4 {
    grid-column-start: 6;
    grid-row-start: 5;
  }
  .technologies-section .box-5 {
    grid-column-start: 5;
    grid-row-start: 6;
  }
  .technologies-section .box-6 {
    grid-column-start: 2;
    grid-row-start: 7;
  }
  .technologies-section .box-7 {
    grid-column-start: 2;
    grid-row-start: 5;
  }
  .technologies-section .box-8 {
    grid-column-start: 3;
    grid-row-start: 1;
  }
  .technologies-section .box-9 {
    grid-column-start: 6;
    grid-row-start: 3;
  }
  .technologies-section .box-10 {
    grid-column-start: 11;
    grid-row-start: 1;
  }
  .technologies-section .box-11 {
    grid-column-start: 10;
    grid-row-start: 3;
  }
  .technologies-section .box-12 {
    grid-column-start: 9;
    grid-row-start: 4;
  }
  .technologies-section .box-13 {
    grid-column-start: 5;
    grid-row-start: 2;
  }
  .technologies-section .box-14 {
    grid-column-start: 2;
    grid-row-start: 2;
  }
  .technologies-section .box-15 {
    grid-column-start: 6;
    grid-row-start: 7;
  }
  .technologies-section .box-16 {
    grid-column-start: 11;
    grid-row-start: 4;
  }
  .technologies-section .box-17 {
    grid-column-start: 11;
    grid-row-start: 6;
  }
}
.project-tile {
  letter-spacing: 0.1rem;
  margin: auto;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
}
.project-tile img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.project-tile .img-wrapper {
  border-radius: 10px;
  padding: 30px 30px 20px 30px;
  border: 4px solid #fff;
}
.project-tile .project-title {
  color: #fefefe;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 18px;
}

.projects-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.projects .stack-info {
  font-weight: bold;
  color: #fefefe;
  text-decoration: none;
  font-family: "Quantico", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.view-project {
  font-size: 1.3rem;
  border: 1px solid grey;
  border-radius: 50px;
  background-color: grey;
  color: #fefefe;
  padding: 7px 15px;
  margin-top: 15px;
}

.view-project:hover {
  background-color: rgb(56, 56, 56);
}

.projects-section {
  margin-bottom: 40px;
}

.project-section__title {
  font-size: 25px;
  text-transform: lowercase;
}

@media (min-width: 992px) {
  .projects-grid {
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40% 40%;
    grid-gap: 50px;
  }
  .projects-grid .project-tile {
    width: auto;
  }
  .projects-section {
    margin-bottom: 80px;
  }
  .project-section__title {
    font-size: 30px;
  }
  .project-title {
    font-size: 22px;
  }
  .project-tile .img-square {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .project-tile .img-rectangle-long {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .project-tile .img-rectangle-height {
    width: 300px;
    height: 100%;
    object-fit: cover;
  }
}
.about-section {
  color: #fefefe;
}

.about-section__text {
  margin-bottom: 40px;
  margin-top: 40px;
}
.about-section__text a {
  color: #fefefe;
}

.about-section__contact {
  padding: 10px 0;
  color: #fefefe;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
.about-section__contact .contact-section__socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about-section__contact .social-link {
  display: inline-block;
  margin-right: 20px;
}
.about-section__contact a {
  font-size: 1.1rem;
  color: #fefefe;
  text-align: center;
  text-decoration: none;
  transition: color 0.5s;
}
.about-section__contact a:hover {
  color: #F97F51;
}
.about-section__contact .heading {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: auto;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .about-section {
    position: relative;
  }
  .about-section__text {
    margin-top: 20px;
  }
  .about-section__intro {
    position: absolute;
    left: 50px;
    top: 100px;
    text-align: center;
  }
  .about-section__right {
    background-color: #fefefe;
    color: #3B3B98;
    width: 100%;
    height: 400px;
    transform: rotate(-45deg);
    position: absolute;
    right: -400px;
    top: -100px;
  }
  .about-section__contact {
    color: #3B3B98;
    text-align: center;
    transform: rotate(45deg);
    position: absolute;
    left: 20px;
    bottom: 100px;
    width: auto;
  }
  .about-section__contact .contact-section__socials {
    justify-content: center;
  }
  .about-section__contact .social-link {
    margin-left: 20px;
    color: #3B3B98;
  }
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  transition: background-color 0.8s;
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Quantico", sans-serif;
  background-color: #fefefe;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: "Quantico", sans-serif;
}

.h1 {
  font-size: 30px;
  font-weight: 900;
}

.section {
  min-height: 100vh;
  padding: 80px 30px 100px 30px;
}

.main {
  padding-bottom: 100px;
}

a {
  text-decoration: none;
}

a.link-style {
  text-decoration: underline;
  text-underline-offset: 3px;
}

#brand {
  width: 40%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.font-normal {
  font-family: "Open Sans", sans-serif;
}

.title-gradient-dark {
  color: transparent;
  background: linear-gradient(90deg, #cf46c1 10%, #20d0ca 80%);
  background-clip: text;
  -webkit-background-clip: text;
}

.title-gradient-light {
  color: transparent;
  background: linear-gradient(90deg, #f951e8 10%, #1dfff7 80%);
  background-clip: text;
  -webkit-background-clip: text;
}

@media (min-width: 992px) {
  .h1 {
    font-size: 48px;
  }
}

/*# sourceMappingURL=style.css.map */
