.about-section {
    color: $color-white;
}

.about-section__text {
    margin-bottom: 40px;
    margin-top: 40px;
}

.about-section__contact {
    padding: 10px 0;
    color: $color-white;
    width: 100%;
    font-family: $font-normal;

    .contact-section__socials {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .social-link {
        display: inline-block;
        margin-right: 20px;
    }

    a {
        font-size: 1.1rem;
        color: $color-white;
        text-align: center;
        text-decoration: none;
        transition: color 0.5s;
        &:hover {
            color: $color-orange;
        }
    }

    .heading {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin: auto;
        margin-bottom: 20px;
    }
}

@media (min-width: 1200px){
    .about-section {
        position: relative;
    }

    .about-section__text {
        margin-top: 20px;
    }

    .about-section__intro {
        position: absolute;
        left: 50px;
        top: 100px;
        text-align: center;
    }

    .about-section__right {
        background-color: $color-white;
        color: $color-purple;
        width: 100%;
        height: 400px;
        transform: rotate(-45deg);
        position: absolute;
        right: -400px;
        top: -100px;
    }

    // if section is rotated - text would also rotate!: rotate background
    .about-section__contact {
        color: $color-purple;
        text-align: center;
        // correct rotation again
        transform: rotate(45deg);
        position: absolute;
        left: 20px;
        bottom: 100px;
        width: auto;

        .contact-section__socials {
            justify-content: center;
        }

        .social-link {
            margin-left: 20px;
            color: $color-purple;
        }
    }
}