.about-section {
    color: $color-white;
    overflow: hidden;
}

.about-section__text {
    margin-bottom: 40px;
    margin-top: 40px;
    a {
        color: $color-white;
    }
}

.about-title {
    font-size: 40px;
}

.about-section__contact {
    padding: 10px 0;
    color: $color-white;
    width: 100%;
    font-family: $font-normal;

    .social-link {
        display: inline-block;
    }

    a {
        font-size: 1.1rem;
        color: $color-white;
        text-align: center;
        text-decoration: none;
        transition: color 0.5s;
        &:hover {
            color: $color-orange;
        }
    }

    .heading {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin: auto;
        margin-bottom: 20px;
    }
}

.about__special-letters {
    @include outlined-text($color-white);
}

@include xl-up {
    .about-section {
        position: relative;
    }

    .about-section__text {
        margin-top: 20px;
    }

    .about-section__right {
        background-color: $color-white;
        color: $color-purple;
        height: 400px;
    }

    // if section is rotated - text would also rotate!: rotate background
    .about-section__contact {
        color: $color-white;
        text-align: center;
        width: auto;

        .social-link {
            color: $color-white;
        }
    }

    .contact__special-letters {
        @include outlined-text($color-white);
    }
}