@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

@import "./variables.scss";
@import "./animation.scss";
@import "./technologies.scss";
@import "./projects.scss";
@import "./about.scss";


* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    transition: background-color 0.8s;
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: $font-robot;
    background-color: $color-white;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: $font-robot;
}

.h1 {
    font-size: 30px;
    font-weight: 900;
}

.section {
    height: 100vh;
    padding: 80px 30px 100px 30px;
}

.main {
    padding-bottom: 100px;
}

a {
    text-decoration: none;
}

a.link-style {
    text-decoration: underline;
    text-underline-offset: 3px;
}

#brand {
    width: 40%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.font-normal {
    font-family: $font-normal;
}

.title-gradient-dark {
    color: transparent;
    background: $gradient-dark;
    background-clip: text;
    -webkit-background-clip: text;
}

.title-gradient-light {
    color: transparent;
    background: $gradient-light;
    background-clip: text;
    -webkit-background-clip: text;
}

@media (min-width: 992px){
    .h1 {
        font-size: 48px;
    }
}