@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

@import "./variables.scss";
@import "./mixins.scss";
@import "./animation.scss";
@import "./technologies.scss";
@import "./projects.scss";
@import "./about.scss";
@import "./instructor.scss";

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    transition: background-color 0.8s;
    scroll-behavior: smooth;
    font-size: 16px;
    font-family: $font-robot;
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: $font-robot;
}

.h1 {
    font-size: 30px;
    font-weight: 900;
}

.section {
    min-height: 100vh;
    padding: 80px 15px 100px 15px;
}

main {
    background-color: $color-purple;
    transition: background .2s;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

a.link-style {
    text-decoration: underline;
    text-underline-offset: 3px;
}

#brand {
    width: 40%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.font-normal {
    font-family: $font-normal;
}

.title-gradient-dark {
    color: transparent;
    background: $gradient-dark;
    background-clip: text;
    -webkit-background-clip: text;
}

.title-gradient-light {
    color: transparent;
    background: $gradient-light;
    background-clip: text;
    -webkit-background-clip: text;
}

.btn-shine-through {
    background-color: rgba(255, 255, 255, 0.43);
    border: 1px solid white;
    color: black;
    border-radius: 20px;
    padding: 5px 20px;
}

@media (min-width: 992px){
    .h1 {
        font-size: 48px;
    }

    .section {
        padding: 80px 30px 100px 30px;
    }
}