.project-tile {
    letter-spacing: 0.1rem;
    margin: auto;
    padding: 10px 15px;
    text-align: center;
    width: 100%;

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }

    .img-wrapper {
        border-radius: 10px;
        padding: 10px;
        border: 4px solid #fff;
    }

    .project-title {
       color: $color-white;
       text-decoration: none;
       font-family: $font-normal;
       margin-top: 15px;
       margin-bottom: 0;
       font-weight: normal;
       font-size: 16px;
    }
}

.projects-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.projects {
    .stack-info {
        font-weight: bold;
        color: $color-white;
        text-decoration: none;
        font-family: $font-robot;
        text-transform: uppercase;
        text-align: center;
    }
}

.view-project {
    font-size: 1.3rem;
    border: 1px solid grey;
    border-radius: 50px;
    background-color: grey;
    color: $color-white;
    padding: 7px 15px;
    margin-top: 15px;
}

.view-project:hover {
    background-color: rgb(56, 56, 56);
}

.projects-section {
    margin-bottom: 40px;
}

.project-section__title {
    font-size: 20px;
    text-transform: lowercase;
}

@include lg-up {
    .projects-grid {
        // margin-top: 30px;
        padding: 20px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 40% 40%;
        grid-gap: 50px;
        .project-tile {
            width: auto;
        }
    }

    .projects-section {
        margin-bottom: 80px;
    }

    .project-section__title {
        font-size: 30px;
    }

    .project-tile {
        .img-square {
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
        
        .img-rectangle-long {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        
        .img-rectangle-height {
            width: 300px;
            height: 100%;
            object-fit: cover;
        }

        .project-title {
            font-size: 22px;
        }

        .img-wrapper {
            padding: 20px 30px;
        }
    }
}
