.technologies-section {
    color: $color-pink;

    .box {
        transition: all 1s;
    }
    
    .box-1 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .box-2 {
        grid-column-start: 8;
        grid-column-end: 9;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    .box-3 {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 10;
        grid-row-end: 11;
    }
    .box-4 {
        grid-column-start: 6;
        grid-column-end: 7;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    .box-5 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 7;
        grid-row-end: 8;
    }
    .box-6 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 9;
        grid-row-end: 10;
    }
    .box-7 {
        grid-column-start: 10;
        grid-column-end: 11;
        grid-row-start: 8;
        grid-row-end: 9;
    }
    .box-8 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .box-9 {
        grid-column-start: 7;
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .box-10 {
        grid-column-start: 11;
        grid-column-end: 12;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    .box-11 {
        grid-column-start: 10;
        grid-column-end: 11;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .box-12 {
        grid-column-start: 9;
        grid-column-end: 10;
        grid-row-start: 9;
        grid-row-end: 10;
    }
    .box-13 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .box-14 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

.technologies-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-row-gap: 16px;
    grid-row-gap: 16px;
    overflow: hidden;
    font-family: 'Quantico', sans-serif;
    font-size: 50px;
}