$color-purple: #3B3B98;
$color-white: #fefefe;
$color-orange: #F97F51;
$color-blue: #182C61;
// $color-pink: #B33771;
$color-black: #000;
$color-turquise: #20d0ca;
$color-purple-light: #823f9dbc;

$font-robot: 'Quantico', sans-serif;
$font-normal: 'Open Sans', sans-serif;

$gradient-light: linear-gradient(90deg, #ac96ea 10%, #1dfff7 80%);
$gradient-dark: linear-gradient(90deg, #9446cf 10%, #20d0ca 80%);