$color-purple: #3B3B98;
$color-white: #fefefe;
$color-orange: #F97F51;
$color-blue: #182C61;
// $color-pink: #B33771;
$color-black: #000;

$font-robot: 'Quantico', sans-serif;
$font-normal: 'Open Sans', sans-serif;